In [2]:
import pandas as pd

In [3]:
datas = pd.read_csv("../../datas/mobile_prices.csv",encoding= 'unicode_escape')

In [4]:
datas.head()
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        184 non-null    int64
 1   Front_cam    184 non-null    object
 2   Primary_cam  184 non-null    object
 3   battery      184 non-null    int64
 4   OS           184 non-null    object
 5   storage      184 non-null    int64
 6   ram          184 non-null    int64
 7   core         184 non-null    int64
 8   display      184 non-null    float64
 9   res          184 non-null    object
 10  brand        184 non-null    object
 11  Reference    173 non-null    object
 12  Model        184 non-null    object
 13  Link         173 non-null    object
dtypes: float64(1), int64(5), object(8)
memory usage: 20.2+ KB

In [5]:
train_data_set = datas.drop(['Link','Reference'],axis=1)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [7]:
train_data_set['Front_cam'] = train_data_set['Front_cam'].str.replace("MP","").astype(int)
train_data_set['Primary_cam'] = train_data_set['Primary_cam'].str.replace("MP","").astype(int)
train_data_set['OS'] = train_data_set['OS'].replace({'Android': 1, 'IOS': 0})
train_data_set.info()
train_data_set.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        184 non-null    int64
 1   Front_cam    184 non-null    int64
 2   Primary_cam  184 non-null    int64
 3   battery      184 non-null    int64
 4   OS           184 non-null    int64
 5   storage      184 non-null    int64
 6   ram          184 non-null    int64
 7   core         184 non-null    int64
 8   display      184 non-null    float64
 9   res          184 non-null    object
 10  brand        184 non-null    object
 11  Model        184 non-null    object
dtypes: float64(1), int64(8), object(3)
memory usage: 17.4+ KB

,Price,Front_cam,Primary_cam,battery,OS,storage,ram,core,display,res,brand,Model
0,13499,5,13,5000,1,32,3,8,6.5,720x1600,samsung,Galaxy A04e
1,15999,5,13,5000,1,32,3,8,6.5,720x1600,samsung,Galaxy A03s
2,17499,5,13,5000,1,64,4,8,6.5,720x1600,samsung,Galaxy A03s
3,25999,8,50,5000,1,64,4,8,6.6,1080x2408,samsung,Galaxy A23
4,29999,8,50,5000,1,128,6,8,6.6,1080x2408,samsung,Galaxy A23

In [8]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

train_data_set['brand_int'] = encoder.fit_transform(train_data_set['brand'])
train_data_set

,Price,Front_cam,Primary_cam,battery,OS,storage,ram,core,display,res,brand,Model,brand_int
0,13499,5,13,5000,1,32,3,8,6.50,720x1600,samsung,Galaxy A04e,5
1,15999,5,13,5000,1,32,3,8,6.50,720x1600,samsung,Galaxy A03s,5
2,17499,5,13,5000,1,64,4,8,6.50,720x1600,samsung,Galaxy A03s,5
3,25999,8,50,5000,1,64,4,8,6.60,1080x2408,samsung,Galaxy A23,5
4,29999,8,50,5000,1,128,6,8,6.60,1080x2408,samsung,Galaxy A23,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,36999,50,64,4050,1,128,8,8,6.44,1080x2400,vivo,Vivo V23e,6
180,41999,50,64,4050,1,256,8,8,6.44,1080x2400,vivo,Vivo V23e,6
181,42999,32,64,4500,1,128,8,8,6.44,1080x2400,vivo,Vivo V25e,6
182,55999,50,64,4200,1,128,8,8,6.44,1080x2400,vivo,Vivo V23 5G,6
183,52999,50,64,4500,1,128,8,8,6.44,1080x2400,vivo,Vivo V25 5G,6

In [9]:
train_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        184 non-null    int64
 1   Front_cam    184 non-null    int64
 2   Primary_cam  184 non-null    int64
 3   battery      184 non-null    int64
 4   OS           184 non-null    int64
 5   storage      184 non-null    int64
 6   ram          184 non-null    int64
 7   core         184 non-null    int64
 8   display      184 non-null    float64
 9   res          184 non-null    object
 10  brand        184 non-null    object
 11  Model        184 non-null    object
 12  brand_int    184 non-null    int64
dtypes: float64(1), int64(9), object(3)
memory usage: 18.8+ KB

In [10]:
pixels = []
for datas in train_data_set['res']:
    width,height = datas.split('x')
    pixels.append(int(width)*int(height))

train_data_set['pixels'] = pixels
train_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        184 non-null    int64
 1   Front_cam    184 non-null    int64
 2   Primary_cam  184 non-null    int64
 3   battery      184 non-null    int64
 4   OS           184 non-null    int64
 5   storage      184 non-null    int64
 6   ram          184 non-null    int64
 7   core         184 non-null    int64
 8   display      184 non-null    float64
 9   res          184 non-null    object
 10  brand        184 non-null    object
 11  Model        184 non-null    object
 12  brand_int    184 non-null    int64
 13  pixels       184 non-null    int64
dtypes: float64(1), int64(10), object(3)
memory usage: 20.2+ KB

In [11]:
train_data_set['Model_int'] = encoder.fit_transform(train_data_set['Model'])

In [12]:
train_data_set.head(1)

,Price,Front_cam,Primary_cam,battery,OS,storage,ram,core,display,res,brand,Model,brand_int,pixels,Model_int
0,13499,5,13,5000,1,32,3,8,6.5,720x1600,samsung,Galaxy A04e,5,1152000,2

In [13]:

X = train_data_set.drop(['Model','brand','res','Model_int','display','brand_int'],axis=1)
y = train_data_set['Model_int']

In [14]:
train_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Price        184 non-null    int64
 1   Front_cam    184 non-null    int64
 2   Primary_cam  184 non-null    int64
 3   battery      184 non-null    int64
 4   OS           184 non-null    int64
 5   storage      184 non-null    int64
 6   ram          184 non-null    int64
 7   core         184 non-null    int64
 8   display      184 non-null    float64
 9   res          184 non-null    object
 10  brand        184 non-null    object
 11  Model        184 non-null    object
 12  brand_int    184 non-null    int64
 13  pixels       184 non-null    int64
 14  Model_int    184 non-null    int64
dtypes: float64(1), int64(11), object(3)
memory usage: 21.7+ KB

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create a KNN model
k = 10  # Number of nearest neighbors to consider
knn = KNeighborsClassifier(n_neighbors=k)

# Fit the model to the training data
knn.fit(X_train, y_train)

new = [[100000,12,50,6000,0,128,6,8,20000000]]

y_pred = knn.predict(new)[0]
distances, indices = knn.kneighbors(new)
label = train_data_set[y == y_pred]
print(label)

     Price  Front_cam  Primary_cam  battery  OS  storage  ram  core  display  \
9   191999         12           50     5000   1      256   12     8      6.8
10  209999         12           50     5000   1      512   12     8      6.8

          res    brand             Model  brand_int   pixels  Model_int
9   1440x3088  samsung  Galaxy S23 Ultra          5  4446720         16
10  1440x3088  samsung  Galaxy S23 Ultra          5  4446720         16

/home/sanatan/.local/lib/python3.8/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/home/sanatan/.local/lib/python3.8/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_test

      Price  Front_cam  Primary_cam  battery  OS  storage  ram  core   pixels
177   33999          8           50     5000   1      128    8     8  2600640
9    191999         12           50     5000   1      256   12     8  4446720
134   14499          5            8     5000   1       32    3     8  1152000
140   14499          5            8     5000   1       32    3     8  1152000
81    19990          8           13     5000   1       64    3     8  1152000
139   18499          5           50     5000   1       64    4     8  1152000
60    17799          8           13     6000   1       64    4     8  1152000
2     17499          5           13     5000   1       64    4     8  1152000
103  191990         12           12     4352   0      128    6     6  3566952
62    22799          8           50     5000   1      128    4     8  2600640
162  134999         32           50     5000   1      256   12     8  4631040
36   209990         12           12     3279   0      512    6     6  2962440
169   19999          8           13     5000   1       64    3     8  1152000
68    31999         16          108     5000   1      128    6     8  2592000
42   246990         12           48     3200   0      512    8     6  3013524
28   156990         12           12     3240   0      256    4     6  2962440
59    15799          5           13     5000   1       64    4     8  1123200
112   13999          5           13     5000   1       32    3     8  1152000
179   36999         50           64     4050   1      128    8     8  2592000
17   120900         12           12     2815   0       64    4     6  2962440
37   173990         12           12     4323   0      128    6     6  3566952
46   265990         12           48     4323   0      512    8     6  3606840
160   85999         16           48     4500   1      256   12     8  2592000
131   53999         32          108     4300   1      128    8     8  2592000
124   24999         13           50     5000   1      128    4     8  2592000
132   87999         32           50     4500   1      256    8     8  2592000
98    20999         13           48     6000   1       64    4     8  1152000
129   41499         16          108     5000   1      128    8     8  2592000
70    77999         16           64     4500   1      256   12     8  2592000
53    20499          5           50     5000   1       64    4     8  2592000
75   119990         16           48     4500   1      256    8     8  4631040
117   17999          5           13     5000   1       64    3     8  1152000
33   260990         12           12     3095   0     1000    6     6  2962440
175   29999         16           50     5000   1      128    8     8  2600640
35   173990         12           12     3279   0      256    6     6  2962440
168   14999          8           13     5000   1       32    3     8  1152000
182   55999         50           64     4200   1      128    8     8  2592000

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
dt_clf = DecisionTreeClassifier(random_state=42)
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [29]:
y_pred = dt_clf.predict(new)[0]
label = train_data_set[y == y_pred]
print(label)

     Price  Front_cam  Primary_cam  battery  OS  storage  ram  core  display  \
22  171000         12           12     3687   0      128    6     6      6.7
23  187600         12           12     3687   0      256    6     6      6.7

          res  brand              Model  brand_int   pixels  Model_int
22  1284x2778  Apple  iPhone 12 Pro Max          0  3566952         99
23  1284x2778  Apple  iPhone 12 Pro Max          0  3566952         99

/home/sanatan/.local/lib/python3.8/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [21]:
dictionary_output= { 'brand':label['brand'],
'price':label['Price'],
'front_cam':str(label['Front_cam'])+' MP',
'back_cam':str(label['Primary_cam'])+' MP',
}
dictionary_output

{'brand': 22    Apple
 23    Apple
 Name: brand, dtype: object,
 'price': 22    171000
 23    187600
 Name: Price, dtype: int64,
 'front_cam': '22    12\n23    12\nName: Front_cam, dtype: int64 MP',
 'back_cam': '22    12\n23    12\nName: Primary_cam, dtype: int64 MP'}

In [22]:
my_string = "{Brand: Samsung, Model: Galaxy S10, Original_price: 70000, OS: Android, Ram: 8, Storage: 128, Battery: 3400, Front_cam: 10, Back_cam: 12, Age: 25, Battery_condition: 5, Phone_condition: 5, Display_condition: 6, Audio_condition: 6, Warranty: No, Charger_available: Yes, Earphone_available: No, Selling_price: 17050}"

# Convert the string to a dictionary
my_dict = eval(my_string)

# Extract values from the dictionary and store them in a list
my_list = [my_dict['Brand'], my_dict['Model'], my_dict['Original_price'], my_dict['OS'], my_dict['Ram'], my_dict['Storage'], my_dict['Battery'], my_dict['Front_cam'], my_dict['Back_cam'], my_dict['Age'], my_dict['Battery_condition'], my_dict['Phone_condition'], my_dict['Display_condition'], my_dict['Audio_condition'], my_dict['Warranty'], my_dict['Charger_available'], my_dict['Earphone_available'], my_dict['Selling_price']]

print(my_list)

SyntaxError: invalid syntax (<string>, line 1)